.x {
    background-image: url(https://freepngimg.com/thumb/letter/130387-x-letter-free-download-png-hq.png);
    background-size: 190px;
    background-repeat: no-repeat;
}

.o {
    background-image: url(https://pngimg.com/uploads/letter_o/letter_o_PNG116.png);
    background-size: 190px;
    background-repeat: no-repeat;

}

body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div{
    display: flex;
    justify-content: center;

  
  
} */
.gameTile{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

#gameBoard{
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px 15px;
  }

#gameSetting{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    flex-wrap: wrap;
}
button{
    margin: 25px 50px;
    height: 75px;
    width: 150px;
    font-size: 22px;
    
}

button:hover{
    box-shadow: 20px 20px 50px 10px skyblue inset;
}

