.x {
    background-image: url(https://freepngimg.com/thumb/letter/130387-x-letter-free-download-png-hq.png);
    background-size: 190px;
    background-repeat: no-repeat;
}

.o {
    background-image: url(https://pngimg.com/uploads/letter_o/letter_o_PNG116.png);
    background-size: 190px;
    background-repeat: no-repeat;

}

.gameOver{
   visibility: visible; 
}

body{
    background: linear-gradient(to left, #2A2B2A, #5E4955);
}

h1{
    text-align: center;
    font-size: 70px;
    font-family: Signika Negative;
    letter-spacing: 3px;
    color: #725867 ;
    text-shadow: 2px 2px 5px white;

}
#playerArea{
    display: flex;
    justify-content: center;
}
#playerNames{
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 25px;
    margin-bottom: 10px;
    
}
.playerNameInput{
    background: linear-gradient(to left, #2A2B2A, #5E4955, #996888, #C99DA3, #C6DDF0);
    height: 35px;
    width: 40%;
}
#submitButton{
    height: 35px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}
input{
    color: #524a4f;
    font-weight: bold;
    font-size: 20px;
    font-family: Kdam Thmor Pro;
}
input::placeholder{
    color: #524a4f;
    font-weight: bold;
    font-size: 20px;
    font-family: Kdam Thmor Pro;
}
#submitButton:hover{
    box-shadow: 20px 20px 50px 1px #866E6E inset;
}

#resultedPlayerArea{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
#resultedPlayerNames{
    display: flex;
    width: 600px;
    justify-content: space-around;

    
}
.playerNameText{
    font-size: 25px;
    font-weight: bold;
    font-family: Kdam Thmor Pro;
    letter-spacing: 2px;
    color: #996888;
    text-shadow: 2px 2px 2px black;

    
}
#mainArea{
    display: flex;
    justify-content: center;
    margin-top: 25px;

}
.gameTile{
    border: 1px solid black;
    height: 200px;
    width: 32.5%;
    background-color: #C6DDF0;
    border-radius: 15px;
}
.gameTile:hover{
    box-shadow: 2px 2px 100px 1px black inset;
}

#gameBoard{
  width: 600px;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 5px 50px 15px;
  }

#gameSetting{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px;
    flex-wrap: wrap;
}

button{
    margin: 2px 30px;
    height: 75px;
    width: 150px;
    font-size: 22px;
    font-family: Kdam Thmor Pro;
    border: 2px solid black;
    
}
button:last-of-type{
    margin-right: 0px;
}
button:first-of-type{
    margin-left: 15px;
}
button:hover{
    box-shadow: 20px 20px 50px 10px skyblue inset;
}

